<template>
    <v-data-table
            :headers="headers"
            :items="users"
            sort-by="username"
            class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Liste de vos utilisateurs</v-toolbar-title>
                <v-divider
                        class="mx-4"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <AddUser></AddUser>
                <v-divider
                        class="mx-4"
                        inset
                        vertical
                ></v-divider>
                <ImportUser></ImportUser>
            </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
            <EditUser :item="item"></EditUser>
            <v-icon
                    small
                    @click="deleteItem(item)"
            >
                mdi-delete
            </v-icon>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
</template>

<script>
    import AddUser from "./AddUser";
    import ImportUser from "./ImportUser";
    import EditUser from "./EditUser";
    export default {
        name: "UserCrud",
        components: {EditUser, ImportUser, AddUser},
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'Username',
                    align: 'start',
                    sortable: false,
                    value: 'username',
                },
                { text: 'Nom', value: 'nom' },
                { text: 'Prenom', value: 'prenom' },
                { text: 'Email', value: 'email' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
        }),
        computed: {
            users(){
                return this.$store.getters['user/users'];
            },
        },
        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                this.$store.dispatch('user/all');
            },
            deleteItem (item) {
                confirm('Voulez vous vraiment supprimer cet utilisateur ? Le retour en arrière est impossible') && this.$store.dispatch('user/delete',item);
            },
            close(){
                this.dialog = false;
                this.$store.dispatch('user/clearForm');
            }
        },
    }
</script>

<style scoped>

</style>